[Desktop Entry]
Comment=Groups And Users\s
Exec=/usr/share/KuserManager/KuserManager
GenericName=KuserManager
Icon=group
Name=KuserManager
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=true
X-KDE-Username=root
